.container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #d84747;
  border: 20px solid rgb(8, 67, 175);
  border-radius: 8px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.header {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card {
  background-color: #fff;
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(11, 173, 185, 0.492);
  margin-bottom: 1rem;
}

.paragraph {
  font-style: italic;
  color: rgb(79, 11, 124);
  margin-top: 1rem;
}
